{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-offset-md-4">
			<br>
			<form action="#">
				<label for="#" class="text-great">NAME</label>
				<input type="text" class="form-control">
				<label for="#" class="text-great">EMAIL</label>
				<input type="text" class="form-control">
				<label for="#" class="text-great">Asunto</label>
				<input type="text" class="form-control">
				<label for="#" class="text-great">MESSAGE</label>
				<textarea type="text" class="form-control"></textarea>
				<button type="submit" class="btn btn-raised btn-pink">Send</button>
			</form>
		</div>
	</div>
</div>
<p style="background-color: #fc6600; padding: 2px"></p>
{% endblock %}