{% extends '::base.html.twig' %}

{% block body %}
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DISCOUNT</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    	<label for="">SEARCH AGAIN </label>
      <input class="" type="text" placeholder="" aria-label="Search">
    </form>
  </div>
</nav>
<br><br>
</section>
<section id="discount" class="container-fluid text-center">
	<h1>60% DISCOUNT ON <br> CLEARING ITEMS</h1>
	<button class="btn btn-raised btn-secondary btn-lg" style="padding:5px 50px">BUY</button>
</section>
<section id="discount-2" class="container-fluid text-center">
	<h1>60% DISCOUNT ON CLEARING ITEMS</h1>
	<div class="row">
		<div class="container">	
			<div class="row">
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">NECKLACES</button>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">BRACELETS</button>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">DIAMONDS</button>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">SILVER</button>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">EARRINGS</button>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-4"><button class="btn btn-outline-danger btn-lg btn-block">CHARMS</button>
				</div>
			</div>
		</div>
	</div>
</section>
<p style="background-color: #fc6600; padding: 2px"></p>
{% endblock %}