{% extends '::base.html.twig'%}

{%block body%}
<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 hidden-lg-up">
			<form action="" id="form" class="card">
				<p>Advance Search</p>
				<select name="" id="" class="form-control">
					<option value="">Category</option>
				</select><br>
				<select name="" id="" class="form-control">
					<option value="">Sub Category</option>
				</select><br>
				<label for=""><input type="radio" name="filter"> Under $150</label><br>
				<label for=""><input type="radio" name="filter"> $150 to $250</label><br>
				<label for=""><input type="radio" name="filter"> Over 250$</label><br>
				<label for=""><input type="radio" name="filter"> No Price Limit</label><br>
				<label for="">Keywords (Optional)<input type="text" class="form-control"></label><br>
				<a href="{{path('shop_single')}}" class="btn btn-block btn-pink">Submit</button>
			</form>
		</div>
		<div class="col-12 col-md-9">
			<div class="row">
				<div class="col-md-3" style="margin-bottom: 20px" >
					<a href="/shop/product">
						<div class="card">
						  <img class="card-img-top" src="{{asset('img/collar_1.png')}}" alt="Card image cap">
						  <div class="card-body">
						    <h6 class="card-text text-center">18 PINK GOLD</h6>
						    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
						  </div>
						</div>
					</a>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
					  <img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<a href="/shop/product">
						<div class="card">
						  <img class="card-img-top" src="" alt="Card image cap">
						  <div class="card-body">
						    <h6 class="card-text text-center">18 PINK GOLD</h6>
						    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
						  </div>
						</div>
					</a>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
					  <img class="card-img-top" src="" alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>	
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>	
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px">
					<div class="card">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
					    <h6 class="card-text text-center">18 PINK GOLD</h6>
					    <h6 class="price text-center"><span class="sale" style="">$319</span> $239.25</h6>	
					  </div>
					</div>
				</div>			
			</div>			
		</div>
		<div class="col-md-3 hidden-md-down">
			<form action="" id="form" class="card ">
				<p>Advance Search</p>
				<select name="" id="" class="form-control">
					<option value="">Category</option>
				</select><br>
				<select name="" id="" class="form-control">
					<option value="">Sub Category</option>
				</select><br>
				<label for=""><input type="radio" name="filter"> Under $150</label><br>
				<label for=""><input type="radio" name="filter"> $150 to $250</label><br>
				<label for=""><input type="radio" name="filter"> Over 250$</label><br>
				<label for=""><input type="radio" name="filter"> No Price Limit</label><br>
				<label for="">Keywords (Optional)<input type="text" class="form-control"></label><br>
				<a href="{{path('shop_single')}}" class="btn btn-block btn-pink">Submit</button>
			</form>
		</div>
	</div>
		<div class="row">	
		<div class="col-12">
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="#">NEXT</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">1</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">TO</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">4</a>
		  </li>
		</ul>
		</div>
	</div>
</div>
{% endblock %}