{% extends '::base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
<section id="shopping">
	<div class="container-fluid">
		<!--<div class="row">
			<div class="col-1" style="background-color: #ff6ea2">
				<p style="padding-top: 20px 0px 0px 0px">Checkout</p>
			</div>
			<div class="col-1">
				<div  style="width:0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #ff6ea2; margin-left: -15px"></div>
			</div>
			<div class="col-1">
				<div  style="width:0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid transparent; margin-left: 15px"></div>
			</div>			
			<div class="col-1" style="background-color: #ff6ea2; margin-left: -175px">
				<p style="padding-top: 20px 0px 0px 0px">Shopping</p>
			</div>
			<div class="col-1">
				<div  style="width:0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #ff6ea2; margin-left: -15px"></div>
			</div>
			<div class="col-1" style="background-color: #ff6ea2; margin-left: -75px">
				<p style="padding-top: 20px 0px 0px 0px">Payment</p>
			</div>
			<div class="col-1">
				<div  style="width:0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #ff6ea2; margin-left: -15px"></div>
			</div>
			<div class="col-5" style="background-color: #ccc; width: 120%">
								
			</div>
		</div>
	-->
		<div class="row">
			<div class="col-md-8">
				<button type="button" class="btn btn-raised btn-pink">1</button><span><b> Shopping Cart</b></span>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><button class="btn btn-raised btn-block">+ Shop More</button></div>
					<div class="col-6"><button class="btn btn-raised btn-pink"> Continue Checkout</button></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<table class="table">
				  <thead class="thead-pink">
				    <tr>
				      <th>Action</th>
				      <th>Item</th>
				      <th>Product Name</th>
				      <th>Quanty</th>
				      <th colspan="2">Price</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th><button class="btn btn-raised">Update</button><br><button class="btn btn-raised">Remove</button></th>
				      <td><img src="" alt="example-image"></td>
				      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit fugiat, iste, nobis vitae earum, aliquid harum est praesentium libero non consequatur maxime fugit eligendi magni temporibus mollitia neque amet similique.</td>
				      <td><input type="number" name="quanty" style="width: 50px"></td>
				      <td colspan="2"><b>Before discount</b><br>$319.00</td>
				    </tr>
				    <tr>
				    	<td colspan="6" class="text-right">Subtotal</td>
				    	<td colspan="2">$319.00</td>
				    	<td></td>
				    </tr>
				    <tr>
				    	<td colspan="6" class="text-right">Total</td>
				    	<td colspan="2">$319.00</td>
				    	<td></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<button type="button" class="btn btn-raised btn-pink">2</button><span><b> Add a Free Note Card to Your Gift (max 150 characters)</b></span>
		</div>	
	</div>
	<div class="row">
		<hr style="border-top: 5px solid red">
	</div>
	<form action="">
	<div class="row" style="border-bottom: 1px solid #ccc">
		<div class="col-12 col-md-3">
			<textarea name="campo" id="campo" cols="30" rows="4"></textarea>
		</div>
		<div class="col-12 col-md-1">
			<img src="" alt="example-image">
			<input type="radio">
		</div>
		<div class="col-12 col-md-1">
			<img src="" alt="example-image">
			<input type="radio">
		</div>
		<div class="col-12 col-md-1">
			<img src="" alt="example-image">
			<input type="radio">
		</div>
		<div class="col-12 col-md-1">
			<img src="" alt="example-image">
			<input type="radio">
		</div>
	</div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-raised btn-pink">3</button><span><b> Shipping Information</b></span>
			</div>
		</div>
	<div class="row">
		<div class="col-12 col-md-4">
			<form action="#">
			<label for="">Name <span class="require">*</span></label>
			<input type="text" name="name" class="form-control input-pink">
			<label for="">Last Name <span class="require">*</span></label>
			<input type="text" name="Last" class="form-control input-pink">
			<label for="">Country <span class="require">*</span></label>
			<select name="" id="" class="form-control input-pink">
				<option value="">Country</option>
			</select>
			<label for="">State</label>
			<select name="" id="" class="form-control input-pink">
				<option value="">State</option>
			</select>
			<label for="">Telephone</label>
			<input type="text" name="phone" class="form-control input-pink">
			<label for="">Email Address <span class="require">*</span></label>
			<input type="text" name="email" class="form-control input-pink">
		</div>
		<div class="col-12 col-md-4">
			<label for="">Address 1<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">	
			<label for="">Address 2<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">	
			<label for="">Suite #<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">	
			<label for="">City<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">
			<label for="">Zip Code<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">
			<label for="">Fax<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">
			<label for="">Enter Discount Code<span class="require">*</span></label>
			<input type="text" name="email" class="form-control">				
		</div>
	</div>
			<div class="row">
			<div class="col-8" style="float: right;">
				<button type="submit" class="btn btn-raised">Go Back</button>
			</div>
		</div>	
		</form>	
</section>
{% endblock %}