{% extends '::base.html.twig' %}
{% block body %}
<br>
<br>
<br>
<br>
<section id="shopping">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 col-md-8">
				<button type="button" class="btn btn-raised btn-pink">1</button><span><b> Shopping Cart</b></span>
			</div>
			<div class="col-6 col-md-2 ml-auto">
						<a href="{{path("shop_payments")}}"><button class="btn btn-raised btn-pink hidden-xs-down">  Place order</button></a>
						<a href="{{path("shop_payments")}}"><button class="btn btn-raised btn-pink hidden-sm-up"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 48 48"><path d="M4.02 42L46 24 4.02 6 4 20l30 4-30 4z"/></svg></button></a>
				</div>
		</div>
<p style="background-color: #ccc; padding: 1px"></p>
		<div class="row">
			<div class="col-12 col-md-12">
				<table class="table table-sm">
				  <thead class="thead-pink">
				    <tr>
				      <th>Item</th>
				      <th>Product Name</th>
				      <th>Quanty</th>
				      <th colspan="2">Price</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><img src="{{asset('img/collar_2.png')}}" class="img-fluid" alt="example-image"></td>
				      <td>Lorem ipsum dolor sit amet, </td>
				      <td>1</td>
				      <td colspan="2"><b>Before discount</b><br>$319.00</td>
				    </tr>
				    <tr>
				    	<td colspan="4" class="text-right">Sales tax</td>
				    	<td colspan="">$0.00</td>
				    	<td></td>
				    </tr>
				    <tr>
				    	<td colspan="4" class="text-right">Shipping Cost</td>
				    	<td colspan="">$0.00</td>
				    	<td></td>
				    </tr>				    
				    <tr>
				    	<td colspan="4" class="text-right">Subtotal</td>
				    	<td colspan="">$319.00</td>
				    	<td></td>
				    </tr>
				    <tr>
				    	<td colspan="4" class="text-right">Total</td>
				    	<td colspan="">$319.00</td>
				    	<td></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-raised btn-pink">1</button><span><b> Shipping Information</b></span>
			</div>
		</div>
<p style="background-color: #ccc; padding: 1px"></p>
		<div class="row">
		<div class="col-12 col-md-4">
			<p>Name : <span class="text-great">info</span></p>
			<p>Last Name : <span class="text-great">info</span> <span class="require">*</span></p>
			<p>Country : <span class="text-great">info</span> <span class="require">*</span></p>
			<p>State : <span class="text-great">info</span></p>
			<p>Telephone : <span class="text-great">info</span></p>
			<p>Email Address : <span class="text-great">info</span> <span class="require">*</span></p>
		</div>
		<div class="col-12 col-md-4">
			<p>Address 1 : <span class="text-great">info</span><span class="require">*</span></p>
			<p>Address 2 : <span class="text-great">info</span><span class="require">*</span></p>
			<p>Suite # : <span class="text-great">info</span><span class="require">*</span></p>
			<p>City : <span class="text-great">info</span><span class="require">*</span></p>
			<p>Zip Code : <span class="text-great">info</span><span class="require">*</span></p>
			<p>Fax : <span class="text-great">info</span><span class="require">*</span></p>		
		</div>
	</div>
</section>
<section class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-raised btn-pink">2</button><span><b> Billing Information</b></span>
			</div>
		</div>
<p style="background-color: #ccc; padding: 1px"></p>
	<div class="row">
		<div class="col-12">
			<form action="#" class="col-12">
			  <div class="row">
	  			<div class="col-12 col-md-4">
					<p for="">Name  : info</p>
					<p for="">Last Name  : info</p>
					<p for="">Country  : info</p>
					<p for="">State</p>
					<p for="">Telephone</p>
					<p for="">Email Address  : info</p>
				</div>
				<div class="col-12 col-md-4">
					<p for="">Address 1 : info</p>	
					<p for="">Address 2 : info</p>
					<p for="">Suite # : info</p>
					<p for="">City : info</p>
					<p for="">Zip Code : info</p>
					<p for="">Fax : info</p>
					<p for="">Enter Discount Code : info</p>			
				</div>
			  </div>	
			</form>		
		</div>
	</div>
		</form>		
</section>
<section class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-raised btn-pink">3</button><span><b> Payment Information</b></span>
			</div>
		</div>
				<p style="border-bottom: 1px solid black"></p>
			<div class="row">
				<div class="col-12 col-md-4">
					<p>Credit Card Type: Card</p>
					<p >Credit Card Number: ****-****-**99</p>
				</div>
				<div class="col-12 col-md-4">
					<p >Name on Credit Card: JUAN</p>
					<p >Cw2: ***</p>
					<p >Expiration Date: ***-***</p>					
				</div>
			</div>
			<button class="btn btn-raised">Go back</button>
			<br>
		<div class="row">
			<div class="col-12 col-md-2 ml-auto">
				<button class="btn btn-raised btn-pink">Place Your Order</button>
			</div>
		</div>

</section>
{% endblock %}